DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sena_p4?schema=public"
PORT=3003
JWT_SECRET="cambiar_este_secreto_en_produccion_2026"
JWT_REFRESH_SECRET="cambiar_este_refresh_en_produccion_2026"
